.strikebase-card {
	@include box-shadow;
	background-color: $color__pure-white;
	margin: $size__site-gutter 0;
	max-width: $size__site-width/2;
	padding-bottom: $size__site-gutter/2;
	position: relative;
	transition: opacity 4s ease-in-out;

	@include mobile {
		margin-left: -#{$size__site-gutter};
		width: calc(100% + #{$size__site-gutter*2});
	}

	dl {
		padding: 0 $size__site-gutter $size__site-gutter/2;
	}

	p {
		padding: 0 $size__site-gutter;
	}

	.gravatar {
		position: absolute;
		top: -$size__site-gutter;
		right: $size__site-gutter;
	}

	&.hidden {
		display: none;
		opacity: 0;

		.strikebase-card-title {
			background: $color__yellow;
		}
	}
}

.strikebase-card-title {
	background: $color__neutral;
	color: $color__pure-white;
	font-family: $font__main;
	@include font-size(1);
	padding: $size__site-gutter/1.5 $size__site-gutter;
}

.strikebase-card-link {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

// Variant for errors messages.
.strikebase-card-warning {
	background-color: $color__warning-background;

	.strikebase-card-title {
		background-color: $color__warning;
	}
}
