.strikebase-icon {
	height: 10px;
	opacity: 0.7;
}

.dropdown-container {
	list-style-type: none;
	margin: 0;
	padding: 0;

	// Show drop-down when tapped.
	&.open {
		.dropdown-wrapper {
			left: 0;
		}

		.dropdown-link {
			color: $color__primary-dark;
			outline: none;
		}
	}
}

// Only give a relative positioning on tablets and above–on smaller devices we want to span the whole screen.
@include tablet {
	.dropdown-label {
		position: relative;
	}
}

.dropdown-label > a {
	@include label;
	padding: 10px 20px 10px 0;
	text-decoration: none;
}

.dropdown-label .strikebase-icon {
	height: 8px;
	margin-left: 4px;
	vertical-align: 1px;
}

// Container for dropdowns.
.dropdown-wrapper {
	@include box-shadow;
	background: $color__pure-white;
	display: inline-block;
	left: -9999em;
	margin-top: -4px;
	max-height: 380px;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 0;
	position: absolute;
	z-index: 10;

	@include mobile {
		width: 100%;
	}

	@include tablet {
		width: 300px;
	}
}

// Dropdown menus
.dropdown-menu {
	display: inline-block;
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
	transition: all 200ms ease-in-out;
	vertical-align: top;

	@include mobile {
		width: 100%;
	}

	@include tablet {
		width: 300px;
	}

	li {
		position: relative;
	}
}

// Dropdown menu items (title and links)
.dropdown-title,
.filter-link,
.filter-link:visited {
	@include font-size(0.875);
	border-bottom: 1px solid $color__white;
	color: $color__neutral;
	display: block;
	padding: 10px;
	text-decoration: none;
}

// Dropdown title.
.dropdown-title {
	background: transparentize($color__white, 0.5);
	vertical-align: middle;

	a {
		color: $color__neutral;
		text-decoration: none;
	}
}

.dropdown-close {
	padding: 11px 12px 6px;
	position: absolute;
	right: 0;
	top: 0;
}

// Dropdown ilter links.
.filter-link:hover {
	background: transparentize($color__white, 0.75);
}

.filter-link.active {
	background: transparentize($color__white, 0.5);
	border-right: 4px solid $color__neutral;
	color: $color__neutral;
	font-weight: 500;
}

.filter-link.selected {
	font-weight: bold;
	position: relative;

	&::after {
		content: url('https://icon.now.sh/x/8');
		display: inline-block;
		opacity: 0.7;
		position: absolute;
		right: 12px;
		top: 8px;
	}
}

.dropdown-submenu-open {
	padding: 9px 12px;
	position: absolute;
	right: 0;
	top: 0;
}

// Submenus.
.dropdown-submenu {
	left: 100%;
	position: absolute;

	&.open {
		left: 0;
	}
}

.dropdown-submenu-close {
	text-transform: capitalize;
}

.dropdown-main-menu.hidden {
	margin-left: -100%;
}

// Clear filters button.
.strikebase-clear-filters,
.strikebase-clear-filters:visited {
	color: $color__neutral;
	text-decoration: none;

	&.hidden {
		opacity: 0;
	}
}
