.dropdown-container {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

// Only give a relative positioning on tablets and above–on smaller devices we want to span the whole screen.
@include tablet {
	.dropdown-label {
		position: relative;
	}
}

.dropdown-label > a {
	@include label;
	padding: 10px 20px 10px 0;
	text-decoration: none;
}

.dropdown {
	background: $color__pure-white;
	@include box-shadow;
	display: inline-block;
	list-style-type: none;
	margin: -5px 0 0 0;
	max-height: 380px;
	overflow: auto;
	padding: 0;
	position: absolute;
		left: -9999em;
	z-index: 10;

	@include mobile {
		width: 100%;
	}

	@include tablet {
		min-width: 300px;
	}

	.dropdown-title,
	.filter-link {
		border-bottom: 1px solid $color__white;
		color: $color__neutral;
		display: block;
		@include font-size(0.875);
		padding: 10px;
		text-decoration: none;
	}

	.dropdown-title {
		background: transparentize($color__white, 0.5);
	}

	li {
		position: relative;
	}

	.dropdown-submenu-link {
		padding: 11px 12px 6px;
		position: absolute;
			top: 0;
			right: 0;
	}

	.filter-link:hover {
		background: transparentize($color__white, 0.75);
	}

	.filter-link.active {
		background: transparentize($color__white, 0.5);
		border-right: 4px solid $color__neutral;
		color: $color__neutral;
		font-weight: 500;
	}
}

// Show drop-down when tapped.
.dropdown-container.open {
	.dropdown {
		left: 0;
	}

	.dropdown-link {
		color: $color__primary-dark;
		outline: none;
	}
}

// Filter submenus.
.dropdown-submenu {
	background: $color__pure-white;
	@include box-shadow;
	list-style-type: none;
	padding: 0;
	position: absolute;
		left: -9999em;
	width: 200px;
	z-index: 10;
}

// Show drop-down on hover or tap.
.dropdown-submenu-link:hover + .dropdown-submenu {
	//left: 95%;
	//top: -20px;
}
