// Extend width of main site column on archive pages so three columns fit well.
// @todo: Implement a proper grid so these are well-scaled and spaced out consistently.
.post-type-archive-person .site-main,
.post-type-archive-project .site-main,
.page-template-archive-template-organization .site-main {
	max-width: $size__site-width + 200;
}

// Use flexbox to display archive cards on two columns on tablets...
@include tablet {
	.strikebase-people-list,
	.strikebase-projects-list,
	.strikebase-organizations-list {
		align-content: space-between;
		align-items: baseline;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.strikebase-people-list .person,
	.strikebase-projects-list .project,
	.strikebase-organizations-list .organization {
		margin-bottom: $size__site-gutter;
		width: calc(50% - #{$size__site-gutter});
	}
}

// ...and three columns on larger screens.
@include desktop {
	.strikebase-people-list .person,
	.strikebase-projects-list .project,
	.strikebase-organizations-list .organization {
		width: calc(33% - #{$size__site-gutter});
	}
}

// Filter/sort controls.
.strikebase-filter-and-sort {
	border-bottom: 1px solid $color__primary-light;
	margin-bottom: $size__site-gutter/2;

	.dropdown-container {
		display: inline-block;
	}
}

// Filter/sort messaging.
.strikebase-filter-sort-messaging {
	@include font-size(0.875);
	margin-bottom: $size__site-gutter;
}

// Extra filters text.
.strikebase-no-filter-matches {
	color: $color__warning;
	margin-right: 4px;

	&.hidden {
		display: none;
	}
}

// Clear filters button.
.strikebase-clear-filters,
.strikebase-clear-filters:visited {
	color: $color__neutral;
	text-decoration: none;

	&.hidden {
		opacity: 0;
	}
}
