@include tablet {
	.widget {
		width: calc(50% - #{$size__site-gutter*2});
	}
}

/* Client check-ins widget */
.strikebase-check-ins-widget {
	padding-bottom: 0;

	.strikebase-card-title {
		margin-bottom: 0;
	}
}

.strikebase-check-ins-list {
	list-style-type: none;
	margin: 0;
	padding: 0;

	.strikebase-icon {
		color: $color__primary-light;
		float: left;
		margin: $size__site-gutter/4 $size__site-gutter/4 0 0;
	}

	a {
		color: $color__black;
		border-bottom: 1px solid $color__neutral-highlight;
		display: block;
		padding: $size__site-gutter;
		text-decoration: none;
	}

	li:last-of-type a {
		border-bottom: none;
	}
}

.strikebase-check-in-date {
	@include label;
	padding-bottom: 0;
}

.strikebase-overdue-check-in {
	background: $color__warning-background;

	.strikebase-check-in-date {
		color: $color__warning;
	}

	.strikebase-icon {
		fill: $color__warning;
	}

	a {
		border-color: transparentize($color__warning, 0.75);
	}
}
