html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
	background-image: url("assets/img/whitenoise.png");
}

/*--------------------------------------------------------------
## Basic site structure
--------------------------------------------------------------*/
.site {
	min-height: 84.5vh;
	position: relative;
}

.site-main {
	margin: 0 auto;
	max-width: $size__site-width;
	padding: $size__site-gutter;
}

@import "masthead";

/* Center-align page headers on archive pages. */
.archive .page-header {
	text-align: center;
}

/*--------------------------------------------------------------
## People & projects CPT
--------------------------------------------------------------*/

@import "single";
@import "archives";

/*--------------------------------------------------------------
## Dashboard
--------------------------------------------------------------*/
@import "dashboard";

.strikebase-logo {
	//max-width: 300px;
	opacity: 0.125;
	position: absolute;
	bottom: -75px;
	z-index:-1;

	.flagpole {
		fill: $color__neutral;
	}

	.flag-shape {
		fill: $color__green;
	}

	.bolt {
		fill: $color__red;
	}

	.circle {
		fill: $color__yellow;
	}

	.logotype {
		display: none;
	}

	@include tablet {
		.logotype {
			font-family: $font__headings;
			font-size: 100px;
		}

		.strike {
			fill: $color__red;
		}

		.base {
			fill: $color__green;
		}
	}
}
