html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}

/*--------------------------------------------------------------
## Basic site structure
--------------------------------------------------------------*/
.site-main {
	margin: 0 auto;
	max-width: $size__site-width;
	padding: $size__site-gutter/2;
}

@import "masthead";

/* Center-align page headers on archive pages. */
.archive .page-header {
	text-align: center;
}

/*--------------------------------------------------------------
## People & projects CPT
--------------------------------------------------------------*/

// Use flexbox to implement a two-column layout for people and projects on tablets and up.
article {
	align-content: space-between;
	align-items: baseline;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;

	.entry-header {
		width: 100%;
	}
}

.entry-content {
	max-width: 100%;
}

@include tablet {
	.strikebase-column {
		width: calc(50% - #{$size__site-gutter*2});
	}
}
