html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}

/*--------------------------------------------------------------
## Basic site structure
--------------------------------------------------------------*/
.site-main {
	margin: 0 auto;
	max-width: $size__site-width;
	padding: $size__site-gutter;
}

@import "masthead";

/* Center-align page headers on archive pages. */
.archive .page-header {
	text-align: center;
}

/*--------------------------------------------------------------
## People & projects CPT
--------------------------------------------------------------*/

@import "single";
@import "archives";

/*--------------------------------------------------------------
## Dashboard
--------------------------------------------------------------*/
@import "dashboard";
