.site-header {
	padding-bottom: $size__site-gutter;
	text-align: center;
}

.strikebase-logo {
	max-width: 300px;

	.mound {
		fill: $color__neutral;
	}

	.flagpole {
		fill: $color__black;
	}

	.flag-shape {
		fill: $color__green;
	}

	.bolt {
		fill: $color__red;
	}

	.circle {
		fill: $color__yellow;
	}

	.logotype {
		font-family: $font__headings;
		font-size: 100px;
	}

	.strike {
		fill: $color__red;
	}

	.base {
		fill: $color__green;
	}
}
