// Use flexbox to implement a two-column layout for people and projects on tablets and up.
.single .person,
.single .project {
	align-content: space-between;
	align-items: baseline;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;

	.entry-header {
		width: 100%;
	}

	.strikebase-card + .strikebase-card {
		margin-top: $size__site-gutter*2;
	}
}

.entry-content {
	max-width: 100%;
}

@include mobile {
	.strikebase-column {
		width: 100%;
	}
}

@include tablet {
	.strikebase-column {
		width: calc(50% - #{$size__site-gutter});
	}
}

.entry-content .label {
	padding-bottom: $size__site-gutter/2;
}
