button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	@include label;
	background: $color__link;
	border: none;
	border-bottom: 4px solid darken($color__link, 10%);
	border-radius: 0;
	box-shadow: none;
	color: $color__white;
	display: inline-block;
	line-height: 1;
	padding: 15px 30px;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}

	&.secondary {
		background: $color__primary;
		border-bottom-color: $color__primary-dark;
	}

	&.subtle {
		background: $color__neutral-highlight;
		border-bottom: 2px solid $color__neutral;
		color: $color__neutral;
		padding: 5px;

		&:hover {
			background: darken($color__neutral-highlight, 10%);
		}
	}
}
