.strikebase-card {
	background-color: lighten($color__white, 10%);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);

	@include mobile {
		margin-left: -#{$size__site-gutter};
		width: calc(100% + #{$size__site-gutter*2});
	}

	h2 {
		background: desaturate($color__neutral, 20%);
		color: lighten($color__white, 10%);
		font-family: $font__main;
		@include font-size(1);
		margin: 0;
		padding: $size__site-gutter/2 $size__site-gutter;
		text-transform: capitalize;
	}

	dl {
		padding: 0 $size__site-gutter $size__site-gutter/2;
	}
}
