ul, ol {
	margin: 0 0 $size__site-gutter 0;
	padding: 0;
}

.entry-content ul li {
	list-style: none;
	position: relative;
}

.entry-content ul li::before {
	content: '\2022';
	font-size: 0.75em;
	line-height: 2;
	position: absolute;
	right: 100.5%;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: $size__site-gutter;
}

dl {
	margin: 0;
	padding-bottom: $size__site-gutter*2;
}

dt {
	@include label;
}

dd {
	margin: 0;

	& + dt {
		padding-top: $size__site-gutter;
	}
}
