table {
	@include font-size(0.9);
	margin: 1.5em auto;
	max-width: 800px;
	width: 100%;
}

table a {
  text-decoration: none;
}

thead {
  border-bottom: 2px solid;
}

th {
  @include small-caps;
  text-align: left;
}

tr {
  border-bottom: 1px solid;
}

td, th {
  padding: $size__site-gutter/4;
}

tr:nth-of-type(even) {
  background-color: #eee;
}

.strikebase-person-project span {
	display: block;
}
