/* Style guide CSS */
body {
  margin: 0; }

.page {
  margin: 0 auto;
  max-width: 1400px;
  padding: 0;
  overflow: auto; }

@media (min-width: 768px) {
  .navigation {
    position: fixed;
    top: 0;
    bottom: 0;
    border-right: 1px solid #DDD3BA;
    padding-top: 0;
    width: 15rem; }
  .content {
    margin-left: 15rem;
    min-height: calc(100vh - 5.375rem); } }

.navigation {
  background: #fff;
  text-align: center; }

.navigation .logo {
  padding: 20px; }

.navigation ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%; }
  .navigation ul a {
    border-top: 1px solid #DDD3BA;
    color: #3D3012;
    display: block;
    padding: 20px;
    text-decoration: none; }
  .navigation ul li:last-of-type a {
    border-bottom: 1px solid #DDD3BA; }

.content {
  padding: 40px; }

.panel {
  border-bottom: 4px solid #644f1e;
  padding: 40px 0; }

.panel-title {
  margin-bottom: 40px; }

.copy-text {
  width: 100%; }

.copy-text p {
  max-width: 600px; }

.swatches {
  margin: 0 auto; }

.color-group {
  display: flex;
  flex-wrap: wrap; }

.color-swatch {
  display: inline-block;
  height: 70vh;
  line-height: 1.2;
  margin: 0 0 20px 0;
  position: relative;
  min-width: 100px;
  flex-grow: 1; }

.color-swatch-label {
  background: #fff;
  font-size: 10pt;
  font-weight: normal;
  padding: 10px;
  position: absolute;
  right: 5px;
  bottom: 5px;
  left: 5px;
  text-align: left; }
  .color-swatch-label span {
    display: block; }

/* Mixin to output classes */
.color-black {
  background: #3D3012; }
  .color-black .hex-code::before {
    content: "#3D3012"; }

.color-neutral {
  background: #644f1e; }
  .color-neutral .hex-code::before {
    content: "#644f1e"; }

.color-neutral-highlight {
  background: #DDD3BA; }
  .color-neutral-highlight .hex-code::before {
    content: "#DDD3BA"; }

.color-white {
  background: #EDE8DF; }
  .color-white .hex-code::before {
    content: "#EDE8DF"; }

.color-pure-white {
  background: #fff; }
  .color-pure-white .hex-code::before {
    content: "#fff"; }

.color-primary {
  background: #3B5345; }
  .color-primary .hex-code::before {
    content: "#3B5345"; }

.color-primary-light {
  background: #50715e; }
  .color-primary-light .hex-code::before {
    content: "#50715e"; }

.color-primary-dark {
  background: #26352c; }
  .color-primary-dark .hex-code::before {
    content: "#26352c"; }

.color-accent {
  background: #A6302C; }
  .color-accent .hex-code::before {
    content: "#A6302C"; }

.color-highlight {
  background: #f7d47d; }
  .color-highlight .hex-code::before {
    content: "#f7d47d"; }

/* Overrides for certain colours. */
.color-white {
  border-top: 1px solid #DDD3BA;
  border-bottom: 1px solid #DDD3BA; }

.color-pure-white .color-swatch-label {
  border: 1px solid #DDD3BA; }

.adjectives h3 {
  display: inline;
  color: #3B5345;
  font-family: "Francois One", courier;
  font-size: 2.1rem;
  padding-right: 0.2em; }

.adjectives h3:nth-of-type(odd) {
  color: #A6302C; }

.headings {
  text-align: left; }
